@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --orange: #ff4d07;
  --dark-orange: #cc3a00;
  --orange-opacity: #ec633105;
  --white: #f0f0f0;
  --footer-color: #c2c2c2;
  --black: #353535;
  --border: #ec633121;
}

h1,
h2 {
  font-size: 2rem;
  line-height: 1.4;
  color: var(--orange);
}

p {
  font-size: 1.25em;
  margin-top: 0;
  color: var(--black);
}

.navbar-container {
  padding: 1rem 7rem;
}
.container {
  padding: 5rem 7rem;
}

html {
  scroll-behavior: smooth;
}

@media only screen and (max-width: 600px) {
  .navbar-container {
    padding: 1rem 1.7rem;
  }
  .container {
    padding: 1.7rem 1.7rem;
  }
  .abt-content {
    flex-direction: column;
    gap: 1.8rem !important;
  }
}
/* Desktop styles */
@media (min-width: 1624px) {
  .navbar-container {
    padding: 1rem 16rem;
  }
  .container {
    padding: 5rem 16rem;
  }
}
